.blue-nav {
    background-color: #65799b;
}

.bg-blue {
    background-color: #b6d5e1;
}

.center {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
}

.about {
    background-color: #e2eff1;
}

.text-white {
    color: white
}

.red {
    color: red;
}